<h4>Post details</h4>
<p>
<%=@row['content'] %>
<p></p>
<p></p>
Added at <%=@row['created_date'] %>
<p></p><p></p>
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
</div>
</p>
