<h4>Post details</h4>
<p>
<%=@row['content'] %>
<p></p>
<p></p>
Added at <%=@row['created_date'] %>
<p></p><p></p>
<h4>Comments</h4>
  <%@comments.each do |comment| %>
  <p>
    <%=comment['content'] %>
    <hr>
    </hr>
  </p>
  <% end %>
<form action="/details/<%=@row['id']%>" method="POST" role="form">
  <div class="form-group">
    <textarea name="comment" class="form-control" rows="3" placeholder="Type comment text here"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>
</p>
